@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow; 
  }
  100% {
    background-color: transparent;
  }
}

/* Apply the animation to the text element */
.calculator-text {
  animation: blink 1s infinite;
  border-radius: 30px;
  border: none;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .dashboard {
    margin-top: 20px;
  }
  
  .dashboard-heading {
    margin-bottom: 10px;
  }
  
  .transaction-list {
    list-style-type: none;
    padding: 0;
  }
  
  .transaction-list li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  
  .transaction-list li:last-child {
    border-bottom: none;
  }
  
  .current-balance {
    font-size: 18px;
    font-weight: bold;
  }
  
  .monthly-summary {
    font-style: italic;
  }
  
  .logou{
    height:30px;
    border:none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    background-color:rgb(207, 53, 53)
  }
  .viewmore{
    height:30px;
    border:none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    background-color:rgb(54, 146, 86)
  }